@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: font-regular;
	src: url('./assets/fonts/Montserrat-Regular.woff2');
}
@font-face {
	font-family: font-medium;
	src: url('./assets/fonts/Montserrat-Medium.woff2');
}
@font-face {
	font-family: font-semibold;
	src: url('./assets/fonts/Montserrat-SemiBold.woff2');
}
@font-face {
	font-family: font-bold;
	src: url('./assets/fonts/Montserrat-Bold.woff2');
}
  
.font-regular {
	font-family: font-regular;
}
.font-medium {
	font-family: font-medium;
}
.font-semibold {
	font-family: font-semibold;
}
.font-bold {
	font-family: font-bold;
}

body {
	background: #3F3D56;
	overflow-x: hidden;
}

::selection {
	background: #ffffff;
	color: #F5A006;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #F5A006;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

@layer components {
	.appContainer {
		@apply container mx-auto
	}

	.product-input {
		@apply w-full px-4 py-2 mt-2 text-mainOrange font-bold bg-white border-[2px] rounded-lg shadow-sm appearance-none focus:outline-none
	}

	.admin-link {
		@apply text-[13px] sm:text-lg md:text-xl cursor-pointer transition-all duration-100 relative;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}