@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #3F3D56;
	min-width: 320px;
	overflow-x: hidden;
}

::selection {
	background: #ffffff;
	color: #F5A006;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #3F3D56;
}

::-webkit-scrollbar-track {
	background-color: #dcdcdc;
}

@layer components {
	.appContainer {
		@apply container mx-auto
	}

	.product-input {
		@apply w-full px-4 py-2 mt-2 text-mainOrange font-bold bg-white border-[2px] rounded-lg shadow-sm appearance-none focus:outline-none
	}

	.admin-link {
		@apply text-base cursor-pointer transition-all duration-100 relative;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}