@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: font-regular;
	src: url('./assets/fonts/Montserrat-Regular.woff2');
}

@font-face {
	font-family: font-medium;
	src: url('./assets/fonts/Montserrat-Medium.woff2');
}

@font-face {
	font-family: font-semibold;
	src: url('./assets/fonts/Montserrat-SemiBold.woff2');
}

@font-face {
	font-family: font-bold;
	src: url('./assets/fonts/Montserrat-Bold.woff2');
}

.font-regular {
	font-family: font-regular;
}

.font-medium {
	font-family: font-medium;
}

.font-semibold {
	font-family: font-semibold;
}

.font-bold {
	font-family: font-bold;
}

body {
	background: #3F3D56;
	overflow-x: hidden;
}

::selection {
	background: #ffffff;
	color: #F5A006;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #F5A006;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

@layer components {
	.appContainer {
		@apply container mx-auto;
	}

	.product-input {
		@apply w-full px-4 py-2 mt-2 text-mainOrange font-bold bg-white border-[2px] rounded-lg shadow-sm appearance-none focus:outline-none;
	}

	.admin-link {
		@apply text-[13px] sm:text-lg md:text-xl cursor-pointer transition-all duration-100 relative;
	}

	.nav-item {
		@apply h-[40px] w-[40px] flex justify-center items-center bg-mainOrange rounded-full shadow-mainOrange shadow-sm cursor-pointer transition-all duration-300;
	}

	.pag-arrow {
		@apply w-[25px] sm:w-[30px] h-[25px] sm:h-[30px] transition-colors duration-300 bg-mainOrange rounded-lg text-white flex justify-center items-center border-2 border-mainOrange hover:bg-transparent hover:text-mainOrange;
	}

	.profile-button {
		@apply h-[100px] w-[100px] p-[15px] bg-[#2b2942] md:bg-midDarkGrey rounded-lg;
	}

	.good-item {
		@apply max-h-[300px] w-[190px] z-10 hover:shadow-lightGrey hover:shadow-sm bg-white flex flex-col justify-center py-[10px] gap-[10px] items-center rounded-xl transition-all duration-300 cursor-pointer hover:scale-110;
	}

	.req-item {
		@apply w-full h-[120px] bg-white rounded-xl p-4 flex flex-col justify-between items-center;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}


.bhdLno{
	width: 900px !important;
	height: 900px !important;
	max-width: 900px !important;
	max-height: 900px !important;
}

@media screen and (max-width: 1024px) {
	.bhdLno{
		width: 700px !important;
		height: 700px !important;
		max-width: 700px !important;
		max-height: 700px !important;
	}
}

@media screen and (max-width: 768px) {
	.bhdLno{
		width: 550px !important;
		height: 550px !important;
		max-width: 550px !important;
		max-height: 550px !important;
	}
}

@media screen and (max-width: 640px) {
	.bhdLno{
		width: 400px !important;
		height: 400px !important;
		max-width: 490px !important;
		max-height: 490px !important;
	}
}

@media screen and (max-width: 420px) {
	.bhdLno{
		width: 300px !important;
		height: 300px !important;
		max-width: 300px !important;
		max-height: 300px !important;
	}
}